@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');
@import url('https://fonts.googleapis.com/css?family=Inconsolata');

body {
	background-color: #000;
	margin: 5;
	padding: 10;
}

h2 {
	font-weight: normal;
	letter-spacing: 0.0em;
	padding-top: 10px;
	height: 0;
	color: #fff;
	font-family: 'Inconsolata', monospace;
}

h3 {
	font-weight: normal;
	letter-spacing: 0.3em;
	width: 555px;
	height: 10px;
	color: #fff;
	font-size: 15px;
	padding-top: 0px;
	display: inline-block;
	font-family: 'Open Sans Condensed', sans-serif;
}

p {
	color: #fff;
	font-family: 'Open Sans Condensed', sans-serif;
	letter-spacing: 0.1em;
}

a {
	text-decoration: none;
	outline: none;
	display: inline-block;
	width: 130px;
	height: 30px;
	line-height: 30px;
	border-radius: 45px;
	margin: 5px 25px;
	font-family: 'Montserrat', sans-serif;
	font-size: 9px;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 2px;
	font-weight: 600;
	color: #000;
	background: white;
	box-shadow: 0 8px 15px rgba(0,0,0,.1);
	transition: .5s;
}

a:hover {
	background: #000;
	color: white;
	transform: translateY(-5px);
}

#logo {
	margin-left: 620px; 
	margin-top: 45px;
	position: fixed;
}

#center {
	position: absolute; 
	width: 99%; 
	top: 40%; 
	text-align: center;
	letter-spacing: 0.2em;
}

#order {
	position:absolute; 
	width: 99%; 
	top: 1%; 
	text-align: center;
	letter-spacing: 0.1em;
}
